<header class="l-header v-center-parent">
    <img class="v-center" routerLink="home"
        src="http://www.freeiconspng.com/uploads/courses-icon-10.png">

    <ul class="top-menu disable-link-styles" id="nav-bar">
        <li>
            <a routerLink="home" routerLinkActive="menu-active"
            [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li>
            <a routerLink="courses" routerLinkActive="menu-active">Courses</a>
        </li>
        <li>
            <a routerLink="login" routerLinkActive="menu-active">Log In</a>
        </li>
        <li>
            <a routerLink="register" routerLinkActive="menu-active">Register</a>
        </li>
        <li>
            <a href="">Logout</a>
        </li>
    </ul>
</header>